<h1 class="center">Anna's GPT Translation Messenger<span class="emoji">&#9889;</span></h1>

<div class="directions">
    <h3><u>Directions:</u></h3>
    <h4>Type in a language of your choice and then whatever you'd like translated. Watch before your eyes as it changes!
    </h4>
</div>

<br>

<form action="/gpt" method="POST">

    <label for="inputLanguage">Language:</label>
    <input type="text" name="userLanguage" placeholder="What language?" required>

    <br>

    <label for="inputRequest">Word/Sentence</label>
    <input type="text" name="userInput" placeholder="Enter thing to Translate" required>

    <br>

    <button class="button" type="submit" value="submit">Submit</button>

</form>

<br>

<!-- <%= items %> -->

<!-- <table>
        <thead>
            <tr>
                <th>User Input</th>
                <th>ChatGPT's Response</th>
                <th>Time Created</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(item=> { %>
                <tr>
                    <td>
                        <i><%= user.username %></i>: <%= item.input %>
                    </td>
                    <td><i>GPT</i>: <%= item.output %>
                    </td>
                    <td colspan="2">
                        <%= item.createdAt %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table> -->

<div class="chat-container">
    <% items.forEach(item=> { %>
        <div class="message-container">
            <div class="user-message">
                <%= item.input %>
            </div>
            <a href="/annaApp/remove/<%=item._id %>">
                <i class="bi bi-trash"></i>
            </a>
            <div class="gpt-message">
                <%= item.output %>
            </div>
            <div style="align-self: flex-end; font-size: 9px;">
                <%= item.createdAt %>
            </div>
        </div>
        <% }) %>
</div>