<h1> Simon's GPT Demo for <%= user.username %> </h1>

  <div class="row">
    <form method="post" action="simonApp">
        Prompt: <input type="text" name="userInput">
        <input type="submit" value="send">
    </form>
    <br>
    <%=items %>
    
  </div>

  <div>
    <ul class="list-group">
        <% items.forEach(item => { %>
            <li class="list-group-item"><%= user.username %>: <%= item.input %></li>
            <li class="list-group-item">GPT: <%= item.output %></li>
            <li class="list-group-item"><%= item.createdAt %></li>
        <% }) %>
    </ul>
  </div>