<!DOCTYPE html>
<html>
  <head>
    <title>Simon's Positivity App</title>
  </head>
  <body style="background-color: #e6f9ff; color: #333; font-family: Arial, sans-serif;">
    <h1 style="text-align: center; color: #0066cc;">Simon's Positivity App</h1>
    <h3 style="text-align: center; color: #0066cc;">Please enter a sentence to the box below. The AI will reframe it with positive thought! <i class="bi bi-balloon-heart text-danger"></i></h3>

    <div class="row" style="display: flex; justify-content: center;">
      <form method="post" action="simonApp" style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
        <label for="userInput"></label>
        <input type="text" id="userInput" name="userInput" style="font-size: 16px; padding: 10px; border-radius: 5px; border: 1px solid #ccc; margin-right: 10px; width: 70%;">
        <input type="submit" value="send" style="background-color: #0066cc; color: #fff; font-size: 16px; padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer;">
      </form>
    </div>

    <div style="margin-top: 20px;">
      <ul style="list-style-type: none; margin: 0; padding: 0;">
        <% items.forEach(item => { %>
        <li style="margin: 5px 0; padding: 10px; border-radius: 5px; background-color: #fff; box-shadow: 2px 2px 5px #ccc;">
          <div style="margin-bottom: 5px;"><strong><%= user.username %>: </strong><%= item.input %></div>
          <div style="margin-bottom: 5px;"><strong>Reframing:</strong><i class="bi bi-balloon-heart text-danger"></i><%= item.output %></div>
          <div style="margin-top: 10px; font-size: 12px; color: #888;">
            Sent at <%= item.createdAt %> <a href="/simonApp/remove/<%=item._id %>">
              <i class="bi bi-x-circle-fill text-danger"></i>
            </a>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
